body{
    color: white;
    background-color: blanchedalmond;
    background-image: url(aaa.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position-y: top;
}
 #internal_css { 
     text-align:center;
     color: blueviolet; 
     background-color: firebrick; 
     margin-top: 100px;
 }

 .colorprops
 {
     color: blueviolet; 
     background-color: springgreen;   
 }
 .alignprops
 {
     font-style: oblique;
     text-align:center;
     margin-top: 100px;
 }